@mixin font-style-nav {
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #444;
}

$active-color: #7e4f8b;

.navbar-items {
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 60px;

    @include font-style-nav();

    .menu-icon {
        color: #444;
        margin-top:10px;

    }
    .nav-menu {
        display: flex;
        list-style: none;
        justify-content: flex-end;

        .option {
            padding-left: 20px;
        }

        .dropdown {
            margin-top: -1px;
            .dropbtn {
                @include font-style-nav();
            }

            .active {
                color: $active-color;
            } 

        }

        

        .dropdown-content .option {
            @include font-style-nav();
        }

        .option:hover {
            color: $active-color;
        }

        .dropdown-content .active {
            color: $active-color;
        }

        .active {
            color: $active-color;
        }
        
    }

    .menu-icon {
        display: none;
    }
    


        //drop-down styling
    /* Navbar container */
  
  /* The dropdown container */
  .dropdown {
    float: left;
    overflow: hidden;
    margin-left: 15px;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    border: none;
    outline: none;
    background-color: inherit;
    //font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }

    @media screen and (max-width: 960px) {
        .navbar-items {
            position: relative;
        }

        .nav-menu {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 90%;
            height: 360px;
            position: absolute;
            top: 75px;
            left: -100%;
            opacity: 1;
            transition: all 0.5s ease;
            
            align-items: center;

        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: white;
            width: 100%;
            left: 0;
            box-shadow: none;
            z-index: 1;

            
          }

          .dropdown-content:last-child {
              padding-bottom: 60px;
          }
        

          .dropdown-content a {
              padding-top: 30px;
              text-align: center;
          }

        .nav-menu:last-child {
            padding-bottom: 70px;
        }


        .nav-menu.active {
            background-color: white;
            left: 0;
            opacity: 1;
            transition: all 0.5s ease;
            z-index: 1;
            
        }

        .option {
            text-align: center;
            display: table;
            z-index: 6;
            color: #444;
            font-weight: 600;
        }

        .nav-links:hover {

        }

        .navbar-logo {
            position: absolute;
            transform: translate(25%, 50%);
            top: 10px;
        }

       

        .menu-icon {
            display: block;
            position: absolute;
            top: 0px;
            right: 40px;
            transform: translate(-100%, 60%);
            font-size: 1.8rem;
            cursor: pointer;
        }
    }
}

