body {
    padding-top: 20px;
    background-color: #fefefe;
    color: #444;
    font-family: 'Montserrat', sans-serif;
    
}

a {
    text-decoration: none;
    color: #444;
}

a:hover {
    transition: all 0.2s step-end;
}